.pageTitle{
font-size: 90px;
margin-bottom: 35px;
line-height: auto;
color: #707070;
font-family: "Merriweather", serif;;
}

.pageSubTitle{
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    line-height: 50px;
}